/* Rodapé */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b0d8d;
    gap: 20px;
    padding: 20px;
    margin-top: 6px;
    height: 100px;
}

footer .social {
    display: flex;
    gap: 20px;
    list-style: none;
}
footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #dbe0d0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #850585;
    transition: all 1s;
}

footer a:hover {
    background-color: #1e6914;
    color: #000000;
}

footer .text {
    color: #fff;
    font-style: oblique;
}